extends layout

block content
  h1= message
  h2= error.status
  if process.env.NODE_ENV === 'development'
    pre #{error.stack}
  else
    p An error occurred. Our team has been notified.
  p
    a(href='/catalog') Return to home page