extends layout

block content
  h1.mb-4 Genre: #{genre.name}

  .card.mb-4
    .card-body
      h2.card-title.h4 Books in this Genre
      if genre_books.length
        .list-group
          each book in genre_books
            .list-group-item
              h5.mb-1
                a(href=book.url) #{book.title}
              p.mb-1 #{book.summary}
      else
        p.card-text.text-muted This genre has no books.