extends layout

block content
  h1.mb-4= title

  if genre_list.length
    .list-group
      each genre in genre_list
        a.list-group-item.list-group-item-action(href=genre.url) #{genre.name}
  else
    .alert.alert-info No genres are currently available.