/* style.css */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1; /* Grow to fill available space */
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
